.checkout-container {
    max-width: 1100px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.checkout-container h2 {
    text-align: center;
    font-size: 27px;
    color: #0a4fff;
    margin-bottom: 20px;
}

.checkout-content {
    display: flex;
    gap: 25px;
}

.checkout-items {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkout-item {
    display: flex;
    gap: 15px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 8px;
}

.checkout-item img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.checkout-summary {
    flex: 1;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.summary-row {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.deliver-btn {
    width: 100%;
    padding: 14px;
    background: #c62828;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

.deliver-btn:hover {
    background: #a41f1f;
}

/* EMPTY */
.empty-message {
    text-align: center;
    padding: 40px;
    font-size: 18px;
}
